<template name="bookList">
	{{#if currentUser}}
		<h3>Here are your books:</h3>
	  	<UL>
	    	{{#each books}}
	        	<LI><i>{{title}}</i> by {{author}}</LI>
	    	{{/each}}
	  	</UL>

		<form class="add-book">
			Title:<br>
			<input type="text" name="title">
			<br>
			Author:<br>
			<input type="text" name="author">
			<input type="submit" value="Add Book">
		</form>
	{{/if}}
</template>